// 主题色
$primaryColor: #477FE3;

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg: #242D3B;
$menuHover:#001528;

// 侧边栏收缩图标背景色
$hamburgerBg: #444F63;
// 菜单展开背景色
$menuActiveBg: #293342;
// 菜单选中背景色
$subMenuActiveBg: #242C39;

// 用于成功
$successColor: #40CB39;
// 用于告警
$warningColor: #FF9D29;
// 用于错误提醒
$dangerColor: #E86C6C;
// 用户提示
$infoColor: #C0C0C0;